/* Reset some default styles */
body, h1, h2, h3, p, margin, padding {
    margin: 0;
    padding: 0;
}

.Desktop1 {
    width: 100%;
    max-width: 2560px;
    height: 100vh;
    position: relative;
    background: #F9FEFF;
}

/* Apply styles to the image */
.Screenshot {
    width:45%;
    height: 80%;
    left: 53%;
    top: 18%;
    position: absolute;
}

.Rectangle1 {
    width: 10.2604%;
    height: 6.3889%;
    left: 15.1823%;
    top: 79.4444%;
    position: absolute;
    background: #ff8c00; /* Initial background color */
    box-shadow: 2.0833% 2.0833% 2.0833%;
    border-radius: 8%;
    filter: blur(0.8333%);
    transition: background-color 0.3s ease; /* Add transition for smooth color change */
}
/* Apply styles to Rectangle2 */
.Rectangle2 {
    width: 100%;
    height: 12%;
    left: 0;
    top: 0;
    position: absolute;
    background: #1995EF;
}

/* Apply styles to "Welcome" text */
.Welcome {
    width: 32.5521%;
    height: 20.2778%;
    left: 9.2188%;
    top: 16%;
    position: absolute;
    color: black;
    font-size: 350%; /* Increase the font size */
    font-family: Inter;
    font-style: italic;
    font-weight: 600;
    word-wrap: break-word;
}

/* Apply styles to "An" text */
.An {
    width: 40.625%;
    height: 22.5%;
    left: 9.2188%;
    top: 55%;
    position: absolute;
    color: black;
    font-size: 220%; /* Increase the font size */
    font-family: Hind Vadodara;
    font-weight: 400;
    word-wrap: break-word;
}

.GlobalImpact{
    width: 10.9375%;
    height: 6.2963%;
    left: 3.2292%;
    top: 3.25%;
    position: absolute;
    color: black;
    font-size: 120.5%; /* Increase the font size */
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
}
.OurVision{
    width: 10.9375%;
    height: 6.2963%;
    left: 15%;
    top: 3.25%;
    position: absolute;
    color: black;
    font-size: 120.5%; /* Increase the font size */
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
}
.TryNow{
    width: 10.9375%;
    height: 6.2963%;
    left: 25%;
    top: 3.25%;
    position: absolute;
    color: black;
    font-size: 120.5%; /* Increase the font size */
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
}
.Use{
    width: 10.9375%;
    height: 6.2963%;
    left: 33.5%;
    top: 3.25%;
    position: absolute;
    color: black;
    font-size: 120.5%; /* Increase the font size */
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
}
.ContactUs{
    width: 10.9375%;
    height: 6.2963%;
    left: 43%;
    top: 3.25%;
    position: absolute;
    color: black;
    font-size: 120.5%; /* Increase the font size */
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
}
.Button {
    display: inline-block;
    padding: 8px 20px;
    background-color: #1995EF; /* Green color, you can change this */
    color: black;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.Button:hover {
    background-color: white;
}
