<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignSpeak</title>
    <link rel="stylesheet" href="static/contact.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
    <div class="Desktop1">
        <div class="Rectangle2"></div>
        <div class = "GlobalImpact">
            <a href="impact" class="Button">Global Impact</a>
        </div>
        <div class="OurVision">
            <a href="vision" class="Button">Our Vision</a>
        </div>
        <div class="TryNow">
            <a href="trynow" class="Button">Try Now</a>
        </div>
        <div class="Use">
            <a href="use" class="Button">Use Cases</a>
        </div>
        <div class="ContactUs">
            <a href="contact" class="Button">Contact Us</a>
        </div>
        <img class="PriyanshiFuriya1" src="static/Priyanshi_Furiya.jpeg" />
        <div class="Vector14"></div>
        <div class="AbhishekNair9930508280AbhishekNair050NmimsEduIn">
            Abhishek Nair<br>
            <br>9930508280<br><br><a href = "mailto:abhishek.nair50@nmims.in">Contact Abhishek via mail</a>
        </div>
        <div class="PriyanshiFuriya9137027042PriyanshiFuriya010NmimsEduIn">
            Priyanshi Furiya<br>
            <br>9137027042<br><br><a href = "mailto:priyanshi.furiya10@nmims.in">Contact Priyanshi via mail</a>
        </div>
        <div class="HttpsGithubComAbhisheknair050"><a href = "https://github.com/AbhishekNair050">AbhishekNair</a></div>
        <div class="HttpsGithubComPriyanshiFuriya"><a href = "https://github.com/priyanshi-furiya">Priyanshi-Furiya</a></div>
        <img class="Icons8Github901" src="static/v149_81.png" />
        <img class="Icons8Github902" src="static/v149_81.png" />
        <img class="AbhishekNairRemovebgPreview1" src="static/v149_71.png" />
        <img class="Icons8Phone1001" src="static/v149_79.png" />
        <img class="Icons8Phone1002" src="static/v149_79.png" />
        <img class="Icons8Email10011" src="static/v149_75.png" />
        <img class="Icons8Email10012" src="static/v149_75.png" />
    </div>
</body>
</html>
