<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignSpeak</title>
    <link rel="stylesheet" href="static/impact.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
    <div class="Desktop1">
        <div class="Rectangle2"></div>
        <div class = "text1">The challenge is huge</div>
        <div class = "text2">How to improve communication</div>
        <div class = "text3">between deaf and hearing people?</div>
        <div class = "GlobalImpact">
            <a href="impact" class="Button">Global Impact</a>
        </div>
        <div class="OurVision">
            <a href="vision" class="Button">Our Vision</a>
        </div>
        <div class="TryNow">
            <a href="trynow" class="Button">Try Now</a>
        </div>
        <div class="Use">
            <a href="use" class="Button">Use Cases</a>
        </div>
        <div class="ContactUs">
            <a href="contactus" class="Button">Contact Us</a>
        </div>
        <div id="numberDisplay1" class="NumberDisplay">0</div>
        <div id="numberDisplay2" class="NumberDisplay">0</div>
        <div id="numberDisplay3" class="NumberDisplay">0</div>
        <div class="Rectangle3">How many people globally rely on sign<br> language as their primary mode of <br>communication?</div>
        <div class="Rectangle4">What percentage of individuals with <br> hearing loss experience barriers in <br> accessing digital content?</div>
        <div class="Rectangle5">How many languages and dialects of sign language exist around the world?</div>
        <hr class="Line1"> 
        <hr class="Line2">
        <hr class="Line3">
        <div class="text">UN Goal</div>
        <div class="Rect1"></div>
        <div class="Rect3"></div>
        <img class="WhatsappImage20240218At11131" src="static/v155_86.png" alt="Image 1">
        <img class="WhatsappImage20240218At11132" src="static/v155_90.png" alt="Image 1">
        <img class="WhatsappImage20240218At11133" src="static/WhatsApp Image 2024-02-18 at 11.31.53.jpeg" alt="Image 1">
        <div class="WithOurCuttingEdge2WaySign">Embracing inclusivity, our mission<br> is to break down communication<br> barriers by harnessing the power <br>of sign language recognition.</div>
        <div class="ConvertsRealTimeCameraInputIntoAudioOutput">Bridging the communication gap <br>is at the core of our vision. We <br> aim to enhance connectivity by <br> seamlessly translating sign <br> language.</div>
    </div>
    <script>
        // Animation for first number container
        var displayElement1 = document.getElementById('numberDisplay1');
        var number1 = 0;
        function increaseNumber1() {
            if (number1 <= 72) {
                displayElement1.textContent = formatNumber(number1, 'millions');
                number1 += 1;
                setTimeout(increaseNumber1, 0.005);
            }
        }
        increaseNumber1();
    
        // Animation for second number container
        var displayElement2 = document.getElementById('numberDisplay2');
        var number2 = 0;
        function increaseNumber2() {
            if (number2 <= 71) { // Adjust the limit as needed
                displayElement2.textContent = formatNumber(number2, 'thousands');
                number2 += 1; // Adjust increment amount as needed
                setTimeout(increaseNumber2, 0.005);
            }
        }
        increaseNumber2();
    
        // Animation for third number container
        var displayElement3 = document.getElementById('numberDisplay3');
        var number3 = 0;
        function increaseNumber3() {
            if (number3 <= 300) { // Adjust the limit as needed
                displayElement3.textContent = formatNumber(number3, 'normal');
                number3 += 5; // Adjust increment amount as needed
                setTimeout(increaseNumber3, 0.005);
            }
        }
        increaseNumber3();
    
        function formatNumber(num, type) {
            switch (type) {
                case 'millions':
                    return (num) + 'M+';
                case 'thousands':
                    return (num) + '%';
                default:
                    return num.toLocaleString() + '+';
            }
        }
    </script>
    
</body>
</html>