<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignSpeak</title>
    <link rel="stylesheet" href="static/vision.css">
</head>
<body>
    <div class="Desktop3">
        <div class="Rectangle4"></div>
        <div class="AboutUs">
            <a href="about" class="Button">About Us</a>
        </div>
        <div class="OurVision">
            <a href="ourvision" class="Button">Our Vision</a>
        </div>
        <div class="ContactUs">
            <a href="contactus" class="Button">Contact Us</a>
        </div>
        <div class="Rectangle2Background"></div>
        <div class="Rectangle11"></div>
        <div class="TryNow">
            <a href="trynow" class="Button2"><b>Try Now</b></a>
        </div>
        <div class="LnadingText">
            <div class="TransformingVisionIntoVoice"><b>Our<br><span style="color: #FFBB00;">Vision</b></span></div>
        </div>
        <div class="Rect1"></div>
        <div class="Rect2"></div>
        <div class="Rect3"></div>
        <img class="WhatsappImage20240218At11131" src="static/v155_86.png" alt="Image 1">
        <img class="WhatsappImage20240218At11132" src="static/v155_90.png" alt="Image 1">
        <img class="WhatsappImage20240218At11133" src="static/WhatsApp Image 2024-02-18 at 11.31.53.jpeg" alt="Image 1">
        <div class="WithOurCuttingEdge2WaySign">Embracing inclusivity, our mission is to <br>break down communication barriers <br>by harnessing the power of sign language <br>recognition.</div>
        <div class="ConvertsRealTimeCameraInputIntoAudioOutput">Bridging the communication gap is at the core <br>of our vision. We aim to enhance connectivity <br>by seamlessly translating sign language.</div>
    </div>
</body>
</html>